.divSelectedLayer{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#01f7da, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#01f7da, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#01f7da, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#01f7da, black); /* Standard syntax */
  position: absolute;
  border-radius: 50%;
  z-index: 200;

}

.divSelecRectangleLayer{
  background: black; /* For browsers that do not support gradients */
  
    background: -webkit-linear-gradient(#01f7da, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#01f7da, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#01f7da, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#01f7da, black); /* Standard syntax */
    border-radius: 20%;
  position: absolute;
  z-index: 200;

}



.cursornwse{
  cursor:nwse-resize;
}

.cursornesw{
  cursor:nesw-resize;
}





.cursorew{
  cursor:ew-resize;
}



.cursorns{
  cursor: ns-resize;
}



.divleftTop{
  cursor:nwse-resize;
}

.divLeftBottom{
  cursor:nesw-resize;
}

.divRightTop{
  cursor:nesw-resize;
}

.divRightBottom{
  cursor:nwse-resize;
}

.divLeft{
  cursor:ew-resize;
}

.divRight{
  cursor:ew-resize;
}

.divTop{
  cursor: ns-resize;
}
.divBottom{
cursor: ns-resize;
}


.divRotate{
  cursor:ew-resize;

  background: blueviolet; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(blueviolet, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blueviolet, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blueviolet, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(blueviolet, yellow); /* Standard syntax */
  position: absolute;
  z-index: 200;
  cursor: default;
}

