




<div  class="divSelectedLayer "  left
[style.width.px]='surface.selectPointwh * (whichMouseOver==1 ? 2:1)'
[style.height.px]='surface.selectPointwh * (whichMouseOver==1 ? 2:1)'
[style.margin-top.px]='left.Y'
[style.margin-left.px]='left.X'
[ngClass]="selectedCss(1)"
mouse (mouseDown)="surface.mouseDownSelectedPoint($event,1)"  (mouseOver)="mouseOver($event,1)" (mouseLeave)="mouseLeave($event,1)">
</div>
<!--<div *ngIf="surface.rotateAngleDeg==0" class="divSelectedLayer "  leftTop
[style.width.px]='surface.selectPointwh * (whichMouseOver==2 ? 2:1)'
[style.height.px]='surface.selectPointwh * (whichMouseOver==2 ? 2:1)'
[style.margin-top.px]="leftTop.Y"
[style.margin-left.px]="leftTop.X"
[ngClass]="selectedCss(2)"
mouse (mouseDown)="surface.mouseDownSelectedPoint($event,2)" (mouseOver)="mouseOver($event,2)" (mouseLeave)="mouseLeave($event,2)">
</div>-->

<div  class="divSelectedLayer "   top
[style.width.px]='surface.selectPointwh * (whichMouseOver==3 ? 2:1)'
[style.height.px]='surface.selectPointwh * (whichMouseOver==3 ? 2:1)'
[style.margin-top.px]="top.Y"
[style.margin-left.px]="top.X"
[ngClass]="selectedCss(3)"
mouse (mouseDown)="surface.mouseDownSelectedPoint($event,3)" (mouseOver)="mouseOver($event,3)" (mouseLeave)="mouseLeave($event,3)">
</div>
<!--<div  class="divSelectedLayer "  rightTop
[style.width.px]='surface.selectPointwh * (whichMouseOver==4 ? 2:1)'
[style.height.px]='surface.selectPointwh * (whichMouseOver==4 ? 2:1)'
[style.margin-top.px]="rightTop.Y"
[style.margin-left.px]="rightTop.X"
[ngClass]="selectedCss(4)"
mouse (mouseDown)="surface.mouseDownSelectedPoint($event,4)" (mouseOver)="mouseOver($event,4)" (mouseLeave)="mouseLeave($event,4)">
</div>-->

<div  class="divSelectedLayer "  right
[style.width.px]='surface.selectPointwh * (whichMouseOver==5 ? 2:1)'
[style.height.px]='surface.selectPointwh * (whichMouseOver==5 ? 2:1)'
[style.margin-top.px]="right.Y"
[style.margin-left.px]="right.X"
[ngClass]="selectedCss(5)"
mouse (mouseDown)="surface.mouseDownSelectedPoint($event,5)" (mouseOver)="mouseOver($event,5)" (mouseLeave)="mouseLeave($event,5)">
</div>
<!--<div  class="divSelectedLayer "  rightBottom
[style.width.px]='surface.selectPointwh * (whichMouseOver==6 ? 2:1)'
[style.height.px]='surface.selectPointwh * (whichMouseOver==6 ? 2:1)'
[style.margin-top.px]="rightBottom.Y"
[style.margin-left.px]="rightBottom.X"
[ngClass]="selectedCss(6)"
mouse (mouseDown)="surface.mouseDownSelectedPoint($event,6)" (mouseOver)="mouseOver($event,6)" (mouseLeave)="mouseLeave($event,6)">
</div>-->


<div  class="divSelectedLayer "  bottom
[style.width.px]='surface.selectPointwh * (whichMouseOver==7 ? 2:1)'
[style.height.px]='surface.selectPointwh * (whichMouseOver==7 ? 2:1)'
[style.margin-top.px]="bottom.Y"
[style.margin-left.px]="bottom.X"
[ngClass]="selectedCss(7)"
mouse (mouseDown)="surface.mouseDownSelectedPoint($event,7)" (mouseOver)="mouseOver($event,7)" (mouseLeave)="mouseLeave($event,7)">
</div>



<!--<div  class="divSelectedLayer "  leftBottom
[style.width.px]='surface.selectPointwh * (whichMouseOver==8 ? 2:1)'
[style.height.px]='surface.selectPointwh * (whichMouseOver==8 ? 2:1)'
[style.margin-top.px]='leftBottom.Y'
[style.margin-left.px]="leftBottom.X"
[ngClass]="selectedCss(8)"
mouse (mouseDown)="surface.mouseDownSelectedPoint($event,8)" (mouseOver)="mouseOver($event,8)" (mouseLeave)="mouseLeave($event,8)">
</div>-->


<!--<div  *ngIf="surface.canRotate" class="divSelectedLayer divRotate"  rotate
[style.width.px]='surface.selectPointwh * (whichMouseOver==9 ? 2:1)'
[style.height.px]='surface.selectPointwh * (whichMouseOver==9 ? 2:1)'
[style.margin-left.px]="(surface.width*surface.scale/2)+(surface.marginLeft*surface.scale)-(surface.selectPointwh* (whichMouseOver==9 ? 2:1)/2)"
[style.margin-top.px]="(surface.marginTop*surface.scale)-30-(surface.selectPointwh * (whichMouseOver==9 ? 2:1))"
mouse (mouseDown)="surface.mouseDownSelectedPoint($event,9)" (mouseOver)="mouseOver($event,9)" (mouseLeave)="mouseLeave($event,9)">

</div>-->







