<div  class="divSelectedLayer" leftTop
[style.margin-top.px]="surface.marginTop"
[style.margin-left.px]="surface.marginLeft" >
</div>

<div  class="divSelectedLayer" leftBottom
[style.margin-top.px]='(surface.stheight)+(surface.marginTop)-(10)'
[style.margin-left.px]="surface.marginLeft" >
</div>

<div  class="divSelectedLayer" rightTop
[style.margin-left.px]="(surface.stwidth)+(surface.marginLeft)-(10)"
[style.margin-top.px]="(surface.marginTop)" >
</div>
<div  class="divSelectedLayer" rightBottom
[style.margin-top.px]="(surface.stheight)+(surface.marginTop)-(10)"
[style.margin-left.px]="(surface.stwidth)+(surface.marginLeft)-(10)" >
</div>





