<div class="container-fluid no-gutters padding2">
 
<div class="row no-gutters ">
  <div class="input-group input-group-sm">
    <span class="input-group-addon w-50 font-size8" style="margin-top:1px;margin-bottom:1px" tooltip="Erase size in pixel" placement="right">Size</span>
    <input type="number" class="form-control" placeholder="Enter size of erase" aria-describedby="sizing-addon2" 
     min="1" max="250" [value]="eraseSize" (input)="changeEraseSize($event.target.value)">

     
  </div>
</div>
<div class="row no-gutters ">
  <div class="input-group input-group-sm">
    <span class="input-group-addon w-50 font-size8" style="margin-top:1px;margin-bottom:1px" tooltip="Erase hardness" placement="right">Hardness</span>
    <input type="number" class="form-control" placeholder="Enter hardness" aria-describedby="sizing-addon2" 
     min="0" max="100" [value]="eraseHardness" (input)="changeEraseHardness($event.target.value)">

     
  </div>
</div>

<!-- <div class="row no-gutters ">
    <div class="input-group input-group-sm">      

       <span class="input-group-addon w-50 font-size8" style="margin-top:1px;margin-bottom:1px" tooltip="Erase opacity" placement="right">Opacity</span>
       <input type="number" class="form-control" placeholder="Enter opacity of erase" aria-describedby="sizing-addon2" 
        min="1" max="100" [value]="eraseOpacity" (input)="changeEraseOpacity($event.target.value)">
      
    </div>
  </div> -->
</div>
