<div class="layersInfo">
  <header class="layersHeader">
    <span>Layers</span>
  </header>
  <section class="layersSection">
    <div *ngIf="project != undefined">
      <div *ngIf="project.activeWorkspace != undefined">
        <ul class="list-group">
          <li class="list-group-item layersLi " [ngClass]="(layer.isSelected)?'layersLiSelected':''"

            *ngFor="let layer of project.activeWorkspace.layers">

              <div class="row" (click)="project.activeWorkspace.makeLayerSelected(layer);" >
                <div class="col-2">
                  <i class="fa fa-eye mouseoverhand " [class.disabled-icon]="layer.isHidden"  aria-hidden="true" (click)="disableOrEnable(layer)"></i>
                </div>
                <div class="col-7">
                  <span  class="mouseoverhand "> {{layer.name}}</span>
                </div>
                <div class="col-1">
                  <i class="fa fa-minus-circle mouseoverhand" aria-hidden="true" (click)="removeLayer(layer)"></i>
                </div>
              </div>





          </li>

        </ul>
      </div>
    </div>
  </section>
</div>
