.layersInfo{
 margin-top: 10px;

background:-webkit-linear-gradient(top,hsl(0,0%,100%),hsl(0,0%,90%));
  background-image: -webkit-linear-gradient(top, #615c5c, #887f7f);
  min-height: 10%;
  max-height: 10%;
}

.layersHeader{

    line-height: 1rem;
    color: white;
   
    padding-left: 4px;

}

.layersLi{

   background:-webkit-linear-gradient(top,hsl(0,0%,100%),hsl(0,0%,90%));
  background-image: -webkit-linear-gradient(top, rgb(100, 100, 100), rgb(230, 230, 230));

}

.layersLiSelected{

   background:-webkit-linear-gradient(top,hsl(0,0%,100%),hsl(0,0%,90%));
  background-image: -webkit-linear-gradient(top, rgb(0, 100, 100), rgb(230, 230, 230));

}



.list-group-item{
  padding:5px;
  white-space: nowrap;
}

.disabled-icon {
  opacity:0.3;
}
