<div class="layersInfo">
<!--   <header class="layersHeader">
    <span>Layers</span>
  </header> -->
  <section class="layersSection">
    
        <ul class="list-unstyled" >
            <li *ngFor="let layer of layers" dnd-draggable [dragEnabled]="true" [dragData]="layer.uuid"   class="container layersLi lineheightmedium unselectableText" style="padding-left:2px;padding-right:2px" [ngClass]="(layer.isSelected)?'layersLiSelected':''">
              <div   dnd-droppable (onDropSuccess)="onDrop($event,layer.uuid)" class="row no-gutters text-center" (click)="makeLayerSelected(layer);" mouse (doubleClick)="mouseDblClick(layer)" >
                
                  
               <i class="fa fa-eye mouseoverhand myGutter lineheightmedium" [class.disabled-icon]="layer.isHidden"  (click)="disableOrEnable(layer)"></i> 
               

                
                
                <i class="fa fa-minus-circle mouseoverhand myGutter lineheightmedium"  (click)="removeLayer(layer)"></i> 
                
                
                <span *ngIf="!isEditMode(layer)" class="mouseoverhand hideOverflowText fontsmall myGutter "> {{layerName(layer)}}</span>
                <input *ngIf="isEditMode(layer)" class="form-control lineheightmedium" keyboard (keyboardDown)='keyDown($event,layer)' autofocus (blur)='lostfocus(layer)' type="text" [value]="layer.name" (input)='changeLayerName($event,layer)'/>
                
                


              </div>
            </li>
            





          </ul>
     
  </section>
</div>
