.layersInfo{
 margin-top: 10px;

 background:-webkit-linear-gradient(top,hsl(0,0%,100%),hsl(0,0%,90%));
  background-image: -webkit-linear-gradient(top, rgb(200, 200, 200), rgb(230, 230, 230));
}

.layersHeader{

  line-height: 28px;

}

.layersLi{

   background:-webkit-linear-gradient(top,hsl(0,0%,100%),hsl(0,0%,90%));
  background-image: -webkit-linear-gradient(top, rgb(100, 100, 100), rgb(230, 230, 230));
}
