<div>
  <div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="overflow-y: initial !important">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Font Loading</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body" style="height:500px;overflow:hidden;color:black">
          <div class="container">
            <div class="row">

              <div class="col-md-8">
                <div class="container">
                  <div class="row">
                    <span class="white">Viewing {{ratioOfSearchToTotal}} </span>
                    <input type="text" class="form-control " style="overflow: hidden; white-space: nowrap;" placeholder="Enter sample text" aria-describedby="sizing-addon2"
                      [(ngModel)]="sampleText" style="margin-bottom:5px;">
                  </div>
                </div>

                <div class="container-fluid" style="">
                  <div class="row">

                    <virtual-scroll [items]="googleFonts" (update)="viewPortItems = $event" (change)="onScrollFonts($event)" style="width: 100%;height:400px">

                      <!--  <list-item *ngFor="let item of viewPortItems">

                      </list-item> -->
                      <div *ngFor="let item of viewPortItems" class="card" style="margin-bottom:5px;margin-right:5px">
                        <div class="card-block" style="padding:0.25rem">
                          <h6 class="card-title">{{item}}</h6>
                          <p class="card-text" [style.font-family]="item" style="font-size: large">{{sampleText}}</p>
                          <a href="#" *ngIf="!userHasFont(item)" class="btn btn-primary btn-sm" (click)="addToMyFonts(item)">Add to my fonts</a>
                          <a href="#" *ngIf="userHasFont(item)" class="btn btn-primary btn-sm" (click)="removeFromMyFonts(item)">Remove from my fonts</a>
                        </div>
                      </div>

                    </virtual-scroll>


                  </div>
                </div>

              </div>

              <div class="col-md-4 categories lineheightsmall">
                <div class="input-group input-group-sm" style="margin-bottom: 5px">

                  <span class="input-group-addon proName" tooltip="Search" placement="right">
                    <i class="fa fa-search"></i>
                  </span>
                  <input type="text" keyboard (keyboardDown)="searchKeyDown($event)" class="form-control " style="overflow: hidden; white-space: nowrap;"
                    placeholder="Search font" aria-describedby="sizing-addon2" [(ngModel)]="searchFontName">

                </div>


                <span class="white" style="margin-bottom: 5px">Categories</span>
                <div class="input-group input-group-sm" style="margin-bottom: 2px">
                  <span class="input-group-addon">
                    <input type="checkbox" aria-label="Checkbox for following font family" [(ngModel)]="isSerif" > 
                    </span>
                  <span class="white">Serif</span>

                </div>

                <div class="input-group input-group-sm" style="margin-bottom: 2px">
                  <span class="input-group-addon">
                    <input type="checkbox" aria-label="Checkbox for following font family" [(ngModel)]="isSansSerif">
                    </span>
                  <span class="white">Sans Serif</span>

                </div>
                <div class="input-group input-group-sm" style="margin-bottom: 2px">
                  <span class="input-group-addon">
                    <input type="checkbox" aria-label="Checkbox for following font family" [(ngModel)]="isDisplay">
                    </span>
                  <span class="white">Display</span>

                </div>
                <div class="input-group input-group-sm" style="margin-bottom: 2px">
                  <span class="input-group-addon">
                    <input type="checkbox" aria-label="Checkbox for following font family" [(ngModel)]="isHandwriting">
                    </span>
                  <span class="white">Handwriting</span>

                </div>
                <div class="input-group input-group-sm" style="margin-bottom: 2px">
                  <span class="input-group-addon">
                    <input type="checkbox" aria-label="Checkbox for following font family" [(ngModel)]="isMonospace">
                    </span>
                  <span class="white">Monospace</span>

                </div>
                <div>
                  <span class="white" style="margin-bottom: 5px">Languages</span>
                  <div class="input-group input-group-sm">

                    <autocomplete #autocomplete class="form-control  autoComplete" [allowClear]="true" [items]="languages" (selected)="selected($event)"
                      [active]="currentLanguage()" placeholder="No language selected"></autocomplete>
                  </div>
                </div>

              </div>


            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
