<div class="fullpage unselectable">
  <div class="menubar">
    <menubar-component></menubar-component>
  </div>

  <div class="maincontent">
      <div *ngIf="hasActiveWorkspace" class="toolbar">
          <tools-component></tools-component>
      </div>
  <div class="projectfiles">
    <project-component></project-component>
</div>
<div *ngIf="hasActiveWorkspace" class="rightbar">
  <div class="rightbartop">
      <div *ngIf="hasLayer"  class="panelLayersInfo" >
          <div #panelHeaderInfo class="modal-header unselectableText">
            Layers
          </div>
          <layersInfo-component></layersInfo-component>
       </div>
   
  </div>
  <div class="rightbarbottom">
      <div *ngIf="hasLayer"  class="panelLayerProperties" >
          <div #panelHeaderProperties class="modal-header unselectableText">
            Properties
          </div>
            <layer-properties-component>
      
            </layer-properties-component>
        </div>
    
  </div>
  
</div>
<div class="googleadvert">
    
  </div>
</div>
  <!-- <div class="statusbar gray-light">
    <statusbar-component></statusbar-component>
  </div> -->
  <!-- <div *ngIf="hasLayer" ngDraggable class="panelLayerProperties" [handle]="panelHeaderProperties">
    <div #panelHeaderProperties class="modal-header unselectableText">
      Layer Properties
    </div>
      <layer-properties-component>

      </layer-properties-component>
  </div> -->

 


    <div *ngIf="hasLayer" class="panelZoom" >        
        <zoom-component></zoom-component>
    </div>

 

   

  


</div>
