<tabset *ngIf="project != undefined" #staticTabs class="fontsmall ">

 <tab *ngFor="let workspace of project.workspaces"  class="fontsmall"  (select)="selectWorkspace(workspace)" (removed)="removeWorkspace(workspace)" [removable]="workspace.isRemoveable"  [heading]="workspace.name"  >

   <workspace-component  [workspace]="workspace" class="wsc"
    mouseWheel (mouseWheelUp)="workspace.mouseWheelUpFunc()"
    (mouseWheelDown)="workspace.mouseWheelDownFunc()" >
    </workspace-component>


</tab>



  </tabset>
