.wsc {
  display: flex;
    //justify-content: center;
   // align-items: center;
    height: 97%;
    width: 100%;
    position: absolute;
    overflow: auto;
    background-color: #444444;
}


.lineheightsmall{
  line-height: 1;
}
