.wsc {
  /* display: flex; */
    //justify-content: center;
   // align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    background-color: #444444;
}



