<div [attr.width]="workspace.backgroundLayer.width"
[attr.height]="workspace.backgroundLayer.height"
[style.width.px]="workspace.backgroundLayer.stwidth"
[style.height.px]="workspace.backgroundLayer.stheight"
style="position: absolute;overflow: hidden;margin:50px"  >

<layer-component background [surface]="workspace.backgroundLayer" >
</layer-component>

<layer-component *ngFor="let layer of workspace.layers" [surface]='layer'
 [style.visibility]="(layer.isHidden) ? 'hidden':'visible'"
 mouse (mouseDown)="workspace.mouseDown($event);layer.mouseDown($event)"
 (mouseMove)="layer.mouseMove($event)" (mouseUp)="layer.mouseUp($event)"
 (mouseLeave)="layer.mouseLeave($event)">
</layer-component>

<!--<layer-component foreground [surface]="workspace.foregroundLayer" >
</layer-component>
-->
<div>





