.height30{
  height: 30px !important;
}
.ngSelect{
  width: 100% !important;
}

.proName{
  width:40px;
}
.autoComplete{
 padding-left: 0;
 padding-right: 0;
 padding-top:0;
 padding-bottom: 0;
 
}



  


