.height30{
  height: 30px !important;
}
.ngSelect{
  width: 100% !important;
}

.proName{
  width: 25px;
  font-size: 0.7rem;
  font-weight: bold;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left:1px;
  border:none;
}
.autoComplete{
 padding-left: 0;
 padding-right: 0;
 padding-top:0;
 padding-bottom: 0;
 
}



  


