<div class="input-group input-group-sm">
  <span class="input-group-addon proName" tooltip="Text of layer" placement="right">T</span>
  <input type="string" class="form-control " style="overflow: hidden; white-space: nowrap;" placeholder="Enter text" aria-describedby="sizing-addon2"
    [value]="layer.text" (input)="changeText($event.target.value,layer)">
</div>
<div class="input-group input-group-sm">

  <span class="input-group-addon proName" tooltip="Font" placement="right">F</span>
  
  <autocomplete class="form-control  autoComplete"
  [allowClear]="true"
              [items]="items"
              [disabled]="disabled"
              (data)="refreshValue($event)"
              (selected)="selected($event)"
              (removed)="removed($event)"
              (typed)="typed($event)"
              [active]="currentLayerFontFamily()"
              placeholder="No font selected"></autocomplete>
</div>
  


    