.layersInfo{
 margin-top: 10px;

  background:-webkit-linear-gradient(top,hsl(0,0%,100%),hsl(0,0%,90%));
  background-image: -webkit-linear-gradient(top, #615c5c, #887f7f);
  min-height: 10%;
  max-height: 10%;
}

.layersHeader{

    line-height: 1rem;
    color: white;
   
    padding-left: 4px;

}

.layersLi{

   background:-webkit-linear-gradient(top,hsl(0,0%,100%),hsl(0,0%,90%));
  background-image: -webkit-linear-gradient(top, rgb(100, 100, 100), rgb(148, 127, 127));

}

.layerProperty{
  margin-left: 0px !important;
}



.list-group-item{
  padding:5px;
  white-space: nowrap;
}

.height30{
  height: 30px !important;
}

.laName{
  margin-bottom: 10px;
}

.proName{
  width:40px;
}
.layerTextProperties{
  display: inline-block;
    position: relative;
    width: 100%;
}

.layerGraphicsProperties{
  display: inline-block;
    position: relative;
    width: 100%;
}

