<accordion *ngIf="hasSelectedLayer">
  <accordion-group  #basic [panelClass]="accordionClass">
    <div accordion-heading>
      Basic
      <i class="pull-right  float-xs-down fa"
      [ngClass]="{'fa-chevron-up': basic?.isOpen, 'fa-chevron-down': !basic?.isOpen}"></i>
    </div>
    <div class="layersProperties"> 
        <section class="layersSection">
          
      
      
              <ul class="list-group" >
                <li class="list-group-item layersLi" *ngIf="selectedLayer.isSelected">
      
      
                  <div class="laName">{{selectedLayer.name}}</div>
      
      
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon proName" tooltip="Width of layer" placement="right">W</span>
      
                    <input novalidate type="number" class="form-control" placeholder="Enter width of layer" aria-describedby="sizing-addon2" [value]="round(selectedLayer.width)"
                      min="10" (input)="changeWidth($event.target.value,selectedLayer)">
                      <span class="input-group-addon proName" tooltip="height of layer" placement="right">H</span>
                      <input novalidate type="number" class="form-control" placeholder="Enter height of layer" aria-describedby="sizing-addon2" [value]="round(selectedLayer.height)"
                        min="10" (input)="changeHeight($event.target.value,selectedLayer)">
                  </div>
                  
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon proName" tooltip="left of layer" placement="right">L</span>
                    <input novalidate type="number" class="form-control" placeholder="Enter left of layer" aria-describedby="sizing-addon2" [value]="round(selectedLayer.rectRotated.x)"
                      (input)="changeLeft($event.target.value,selectedLayer)">
                      <span class="input-group-addon proName" tooltip="top of layer" placement="right">T</span>
                      <input novalidate type="number" class="form-control" placeholder="Enter top of selectedLayer" aria-describedby="sizing-addon2" [value]="round(selectedLayer.rectRotated.y)"
                        (input)="changeTop($event.target.value,selectedLayer)">
                  </div>
                  
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon proName" tooltip="rotate of layer" placement="right">R</span>
                    <input novalidate type="number" class="form-control" placeholder="Enter rotate of layer" aria-describedby="sizing-addon2" [value]="selectedLayer.rotateAngleDeg"
                      min="-180" max="180" (input)="changeRotateAngle($event.target.value,selectedLayer)">
                      <span class="input-group-addon proName" tooltip="Opacity of layer" placement="right">O</span>
                      <input novalidate type="number" class="form-control" placeholder="Enter opacity of layer" aria-describedby="sizing-addon2" [value]="round(selectedLayer.globalAlpha*100)"
                        min="0" max="100" (input)="changeGlobalAlpha($event.target.value,selectedLayer)">
                  </div>
                 
      
                  <div class="input-group input-group-sm">
      
                    <span class="input-group-addon proName" tooltip="Blend mode" placement="right">B</span>
      
                    <autocomplete class="form-control  autoComplete" style="padding:0px" [allowClear]="false" [items]="blendModes"  (data)="blendmodeRefreshValue($event,selectedLayer)"
                      (selected)="changeLayerBlendMode($event,selectedLayer)"   [active]="getLayerBlendMode(selectedLayer)"
                      placeholder="No blend mode selected"></autocomplete>
                  </div>
      
                  <div class="input-group input-group-sm ">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="selectedLayer.keepRatio">
                      Keep Ratio
                    </label>
                  
      
                  </div>
                
                  <layer-graphics-properties *ngIf="isGraphicsLayer(selectedLayer)" class="layerGraphicsProperties" [layer]=selectedLayer></layer-graphics-properties>
                   
                </li>
      
              </ul>
      
           
        </section>
      </div>

  </accordion-group>
  
  <accordion-group *ngIf="isTextLayer(selectedLayer)" #text [panelClass]="accordionClass">
    <div accordion-heading>
      Text
      <i class="pull-right float-xs-down fa"
      [ngClass]="{'fa-chevron-up': text?.isOpen, 'fa-chevron-down': !text?.isOpen}"></i>
    </div>
    <layer-text-properties *ngIf="isTextLayer(selectedLayer)" class="layerTextProperties" [layer]="selectedLayer"></layer-text-properties>

  </accordion-group>
</accordion>


