<div class="layersInfo">
  <header class="layersHeader">
    <span>Layer Properties</span>
  </header>
  <section class="layersSection">

    <div *ngIf="project != undefined">

      <div *ngIf="project.activeWorkspace != undefined">


        <ul class="list-group" *ngFor="let layer of project.activeWorkspace.layers">
          <li class="list-group-item layersLi" *ngIf="layer.isSelected">


            <div class="laName">{{layer.name}}</div>
             

            <div class="input-group height30">
              <span class="input-group-addon proName" id="sizing-addon2" tooltip="Width of layer" placement="right">W</span>

              <input type="number" class="form-control" placeholder="Enter width of layer" aria-describedby="sizing-addon2" [value]="round(layer.width)"
                min="10" (input)="changeWidth($event.target.value,layer)">
            </div>
            <div class="input-group height30">
              <span class="input-group-addon proName" id="sizing-addon2" tooltip="height of layer" placement="right">H</span>
              <input type="number" class="form-control" placeholder="Enter height of layer" aria-describedby="sizing-addon2" [value]="round(layer.height)"
                min="10" (input)="changeHeight($event.target.value,layer)">
            </div>
            <div class="input-group height30">
              <span class="input-group-addon proName" id="sizing-addon2" tooltip="left of layer" placement="right">L</span>
              <input type="number" class="form-control" placeholder="Enter left of layer" aria-describedby="sizing-addon2" [value]="round(layer.rectRotated.x)"
                (input)="changeLeft($event.target.value,layer)">
            </div>
            <div class="input-group height30">
              <span class="input-group-addon proName" id="sizing-addon2" tooltip="top of layer" placement="right">T</span>
              <input type="number" class="form-control" placeholder="Enter top of layer" aria-describedby="sizing-addon2" [value]="round(layer.rectRotated.y)"
                (input)="changeTop($event.target.value,layer)">
            </div>
            <div class="input-group height30">
              <span class="input-group-addon proName" id="sizing-addon2" tooltip="rotate of layer" placement="right">R</span>
              <input type="number" class="form-control" placeholder="Enter rotate of layer" aria-describedby="sizing-addon2"  [value]="layer.rotateAngleDeg"
                min="-180" max="180" (input)="changeRotateAngle($event.target.value,layer)" >
            </div>
            <div class="input-group ">
            <label class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" [(ngModel)]="layer.keepRatio">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description" style="padding-top:5px">Keep Ratio</span>
</label>
                
            </div>

            <div class="input-group ">
            <label class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" [(ngModel)]="layer.scaleView">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description" style="padding-top:5px">Scale View</span>
</label>
                
            </div>
            






          </li>

        </ul>

      </div>
    </div>
  </section>
</div>