<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="overflow-y: initial !important">
    <div ngDraggable [handle]="modalHeader" class="modal-content" style="width:700px">
      <div #modalHeader class="modal-header unselectableText">
        <h6 class="modal-title pull-left">Cartoon</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body unselectableText" style="height:530px;overflow:hidden;color:black">
        <div class="container ">
          <div class="row">
            <div class="col-md-7  imagecolumn" #surfaceContainer>
              <layer-component [surface]="layer"></layer-component>
            </div>

            <div class="col-md-5  effectscolumn" style="height: 460px;overflow-y: auto">
              <div class="container-fluid">

                <div class="row">
                  <div class="col-md-5">
                    <label style="color:#f5f5f5;" for="inlineFormCustomSelect">Smooth</label>
                  </div>
                  <div class="col-md-7">
                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0 combobox" id="inlineFormCustomSelect" (change)="smoothFilterChanged($event)">
                      <option value="0">None</option>                      
                      <option value="1">Gaussian3x3</option>                      
                      <option value="2">Gaussian5x5</option>                                            
                      <option value="3">Median3x3</option>
                      <option value="4">Median5x5</option>
                      <option value="5">Mean3x3</option>
                      <option value="6">Mean5x5</option>
                      <option value="7">Lowpass3x3</option>
                      <option value="8">Lowpass5x5</option>
                      <option value="9">Sharpen3x3</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                      <label class="mr-sm-2" style="color:#f5f5f5;" for="inlineFormCustomSelect">Levels</label>
                    </div>
                    <div class="col-md-7">
                      <input type="range" min="3" max="200" step="1" (change)="thresholdChanged($event)" >
                    </div>
                  </div>
                 

              </div>
            </div>



          </div>
          <div class="row">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
              <label class="btn btn-primary btn-sm pull-right mt-2" role="button" (click)="close($event)">
                Apply
              </label>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>