<div class="toolsInfo">
  <header class="toolsHeader">
   
  </header>
  <section class="toolsSection">
<div *ngIf="project != undefined">

      <div *ngIf="project.activeWorkspace != undefined">
        <div *ngIf="project.activeWorkspace.hasLayer">

      <label id="default" class="btn btn-primary buttonpadding mouseoverhand btn-sm active" (click)="selectDefault()" tooltip="Hand tool"  placement="right">
          <i class="fa fa-mouse-pointer "  aria-hidden="true" ></i>
      </label>

      <label id="crop" class="btn btn-primary  buttonpadding mouseoverhand btn-sm " (click)="selectCrop()" tooltip="Crop tool"  placement="right">
          <i class="fa fa-crop   "  aria-hidden="true" ></i>
      </label>

      
      <label id="selectRectangle" class="btn btn-primary  buttonpadding mouseoverhand btn-sm " (click)="selectRectangleSelection()" tooltip="Crop tool"  placement="right">
          <img src="assets/icons/selection.ico">
      </label>

      
      
    </div>
    
  </div>
</div>




  </section>
</div>
