.toolsInfo{
 margin-top: 10px;

 background:-webkit-linear-gradient(top,hsl(0,0%,100%),hsl(0,0%,90%));
  background-image: -webkit-linear-gradient(top, rgb(200, 200, 200), rgb(230, 230, 230));
}

.toolsHeader{

  line-height: 28px;

}
.buttonpadding{
  margin:3px;

}

.active{
  background-color: #025aa5;
}
