<div class="toolsInfo">
  <header class="toolsHeader">

  </header>
  <section class="toolsSection">
    <div *ngIf="project != undefined">

      <div *ngIf="project.activeWorkspace != undefined">
        <div *ngIf="project.activeWorkspace.hasLayer">
        
       <label id="default" class="firsttoolboxbutton btn btn-primary buttonpadding mouseoverhand btn-sm active" [ngClass]="defaultCss" (click)="selectDefault()" tooltip="Move Resize tool"
            placement="right">
        <img src="assets/icons/mouse.png">
      </label>

          <label id="crop" class="btn btn-primary  buttonpadding mouseoverhand btn-sm " [ngClass]="cropCss"  (click)="selectCrop()" tooltip="Crop tool"
            placement="right">
        <img src="assets/icons/crop.png">
      </label>


          <label id="selectRectangle" class="btn btn-primary  buttonpadding mouseoverhand btn-sm " [ngClass]="rectangleCss" [ngClass]="defaultCss" (click)="selectRectangleSelection()"
            tooltip="Rectangle selection" placement="right">
          <img src="assets/icons/selectrectangle.png">
      </label>

          <label id="selectEllipse" class="btn btn-primary  buttonpadding mouseoverhand btn-sm " [ngClass]="ellipseCss" (click)="selectEllipseSelection()"
            tooltip="Ellipse selection" placement="right">
        <img src="assets/icons/selectellipse.png">
    </label>
          <label id="selectLasso" class="btn btn-primary  buttonpadding mouseoverhand btn-sm " [ngClass]="lassoCss" (click)="selectLassoSelection()" tooltip="Lasso selection"
            placement="right">
      <img src="assets/icons/selectlasso.png">
  </label>

  <label id="selectPolygon" class="btn btn-primary  buttonpadding mouseoverhand btn-sm " [ngClass]="polygonCss" (click)="selectPolygonSelection()" tooltip="Polygonal selection"
  placement="right">
<img src="assets/icons/selectpolygon.png">
</label>

<label id="selectMagicWand" class="btn btn-primary  buttonpadding mouseoverhand btn-sm " [ngClass]="magicwandCss" (click)="selectMagicWandSelection()" tooltip="Magic wand selection"
placement="right">
<img src="assets/icons/selectmagicwand.png">
</label>


<label id="selectColorPicker" class="btn btn-primary  buttonpadding mouseoverhand btn-sm " [ngClass]="colorpickerCss" (click)="selectColorPicker()" tooltip="Color picker"
  placement="right">
<img src="assets/icons/colorpicker.png">
</label>




<label  id="selectPencil" class="d-inline-block btn btn-primary  buttonpadding mouseoverhand btn-sm " [ngClass]="brushCss" (click)="selectBrush();"  tooltip="Brush"
    placement="right">
<img src="assets/icons/brush.png">
</label>

<label  id="selectErase" class="d-inline-block btn btn-primary  buttonpadding mouseoverhand btn-sm " [ngClass]="eraseCss" (click)="selectErase()"  tooltip="Erase"
placement="right">
<img src="assets/icons/erase.png">
</label>


<label  id="selectBucket" class="d-inline-block btn btn-primary  buttonpadding mouseoverhand btn-sm " [ngClass]="bucketCss" (click)="selectBucket()"  tooltip="Bucket fill"
placement="right">
<img src="assets/icons/bucket.png">
</label>

<label  id="selectHand" class="d-inline-block btn btn-primary  buttonpadding mouseoverhand btn-sm " [ngClass]="handCss" (click)="selectHand()"  tooltip="Scroll"
placement="right">
<img src="assets/icons/hand.png">
</label>


  
   
    <label [(colorPicker)]="foregroundcolor" class="btn btn-primary  buttonpadding mouseoverhand groundcolor btn-sm"  [style.background]="foregroundcolor"  tooltip="Foreground color"  placement="right"
    
      [cpOutputFormat]="'rgba'" [cpOKButton]="true" [cpCancelButton]="true" 
       
      [cpAlphaChannel]="'hex8'" >{{emptyString}}</label>
      <label class="btn btn-primary  buttonpadding mouseoverhand btn-sm" style="background:transparent" tooltip="Swap colors" placement="right" (click)="swapColors()">
        <img src="assets/icons/swap.png">
      </label>

      <label  [(colorPicker)]="backgroundcolor"  class="btn btn-primary  buttonpadding mouseoverhand groundcolor btn-sm" [style.background]="backgroundcolor"  tooltip="Background color"  placement="right"
      
        [cpOutputFormat]="'rgba'" [cpOKButton]="true" [cpCancelButton]="true" 
       
        [cpAlphaChannel]="'hex8'"   >{{emptyString}}</label>
  
  


        </div>

      </div>
    </div>




  </section>
</div>