<div class="container-fluid no-gutters">
  <label class="btn btn-primary  buttonpadding mouseoverhand btn-sm " [ngClass]="isClipSelfCss" (click)="makeSelectionSelf()" tooltip="Self" placement="right" >    
    <img src="assets/icons/self.png">
  </label>
  <label class="btn btn-primary btn-sm" [ngClass]="isClipUnionCss" (click)="makeSelectionUnion()" tooltip="Union" placement="right">
    <img src="assets/icons/union.png">
    </label>

    <label class="btn btn-primary btn-sm" [ngClass]="isClipIntersectCss" (click)="makeSelectionIntersect()" tooltip="Intersection" placement="right">
      <img src="assets/icons/intersection.png">
      </label>

      <label class="btn btn-primary btn-sm" [ngClass]="isClipExcludeCss" (click)="makeSelectionExclude()" tooltip="Exclude" placement="right">
        <img src="assets/icons/exclude.png">
        </label>

        <label class="btn btn-primary btn-sm" [ngClass]="isClipXorCss" (click)="makeSelectionXor()" tooltip="Xor" placement="right">
          <img src="assets/icons/xor.png">
          </label>
</div>
