<div class="container-fluid no-gutters">
  <label class="btn btn-primary  buttonpadding mouseoverhand btn-sm " [ngClass]="isClipSelfCss" (click)="makeSelectionSelf()" tooltip="Self" placement="right" >    
    <img src="assets/icons/self.png">
  </label>
  <label class="btn btn-primary btn-sm" [ngClass]="isClipUnionCss" (click)="makeSelectionUnion()" tooltip="Union" placement="right">
      <i class="fa fa-circle fa-lg"></i>
    </label>

    <label class="btn btn-primary btn-sm" [ngClass]="isClipIntersectCss" (click)="makeSelectionIntersect()" tooltip="Intersection" placement="right">
        <i class="fa fa-circle fa-lg"></i>
      </label>

      <label class="btn btn-primary btn-sm" [ngClass]="isClipExcludeCss" (click)="makeSelectionExclude()" tooltip="Exclude" placement="right">
          <i class="fa fa-circle fa-lg"></i>
        </label>

        <label class="btn btn-primary btn-sm" [ngClass]="isClipXorCss" (click)="makeSelectionXor()" tooltip="Xor" placement="right">
            <i class="fa fa-circle fa-lg"></i>
          </label>
</div>
