<layout-component #layout *ngIf="isBrowserOk==true" >
</layout-component>
<notsupportedBrowser-component *ngIf="isBrowserOk==false">
</notsupportedBrowser-component>
<messageboxModal-component></messageboxModal-component>
<formNewImage-component></formNewImage-component>
<formResize-component></formResize-component>

<formGoogleFontload-component></formGoogleFontload-component>
<form-color-remap></form-color-remap>
<form-sample-images></form-sample-images>
<form-color-adjustment></form-color-adjustment>
<form-grayscale></form-grayscale>
<form-convolution></form-convolution>
<form-erodedilation></form-erodedilation>
<form-oilpainting></form-oilpainting>
<alert-component></alert-component>
<form-about></form-about>
<form-shortcuts></form-shortcuts>
<busy-component></busy-component>





