.minusB{
    padding-left: 2px;
    padding-right:2px;
}

.progress{
  margin-top:4px;
  background-color: lightgray;
}

.rowEx{
    margin-right: 0px !important;
  margin-left: 0px !important;
  padding-right: 0px;
  padding-left: 0px;
  display: inline-block;
  width: 100%;
  
}

.zoomButton{
    margin-left: -2px;
    
  }
  .progressbar{
    background-color: black;
    height: 0.30rem;
    margin-top: 0.35rem;
  }