

 .fullpage {
  background-color: white;
  width: 100%;
  height:100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;

}

#projectfiles{
  position: relative;
  display: block;
  width: 86%;
  left:0px;
  top:3%;
  height:95%;
  padding-bottom: 2%;
  background-color: #262626;


  z-index: 0;

}




.statusbar {
  width: 86%;
  position: fixed;

  height: 2%;
  left: 0;
  bottom: 0;
  background-color:#535353;
  border-radius: 0px 0px 0 0;

  z-index: 1;
  border-top-color: gray;
    border-top-width: thin;
    border-top-style: solid;
}

.menubar {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  left: 0;
  top: 0;
  width: 100%;

  height: 3%;
  background-color:#535353;
  border-radius: 0 0 0 0px;
  border-bottom-color: gray;
    border-bottom-width: thin;
    border-bottom-style: solid;
}

.toolbar {
  top: 3%;
  width: 14%;
  height: 100%;
  /* 100% Full-height */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  right: 0;
  background-color:#535353;
  /* Black*/
  overflow-x: auto;
  /* Disable horizontal scroll */
  border-radius: 0 0 0 0;
  border-left-color: gray;
    border-left-width: thin;
    border-left-style: solid;
}


