<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="overflow-y: initial !important">
      <div ngDraggable [handle]="modalHeader" class="modal-content" style="width:700px">
        <div #modalHeader class="modal-header unselectableText">
          <h4 class="modal-title pull-left">{{nameOfForm}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="modal-body unselectableText" style="height:530px;overflow:hidden;color:black">
          <div class="container">
            <div class="row">
              <div class="col-md-8  imagecolumn" #surfaceContainer>
                <layer-component [surface]="layer"></layer-component>
              </div>
  
              <div class="col-md-4 effectscolumn" style="height: 480px;overflow-y: auto">
                <ul class="list-group">
                    <li  *ngFor="let item of convolutions" class="list-group-item list-group-item-action mouseover " style="padding:0px;margin-bottom:5px">
                        <a href="#" class="btn btn-primary btn-sm" style="width:100%" role="button" (click)="applyConvolution($event,item)">
                           {{item.name}}
                        </a>
      
                      </li>
                </ul>
              </div>
  
  
  
            </div>
            <div class="row">
              <div class="col-md-9">
              </div>
              <div class="col-md-3">
                <label class="btn btn-primary btn-sm pull-right" role="button" (click)="close($event)">
                    Apply
                  </label>
              </div>
            </div>
  
  
  
          </div>
        </div>
      </div>
    </div>
  </div>
  