<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="overflow-y: initial !important">
    <div ngDraggable [handle]="modalHeader" class="modal-content" style="width:700px">
      <div #modalHeader class="modal-header unselectableText">
        <h6 class="modal-title pull-left">Gradient Edge Detection</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body unselectableText" style="height:530px;overflow:hidden;color:black">
        <div class="container ">
          <div class="row">
            <div class="col-md-6  imagecolumn" #surfaceContainer>
              <layer-component [surface]="layer"></layer-component>
            </div>

            <div class="col-md-6  effectscolumn" style="height: 460px;overflow-y: auto">
              <div class="container">
                <div class="row">
                  <div class="btn-group btn-group-sm">
                    <label class="btn"></label>
                    <label class="btn btn-primary btn-sm lineheightsmall" [(ngModel)]="applyRed" btnCheckbox>Red</label>
                    <label class="btn btn-primary btn-sm lineheightsmall" [(ngModel)]="applyGreen" btnCheckbox>Green</label>
                    <label class="btn btn-primary btn-sm lineheightsmall" [(ngModel)]="applyBlue" btnCheckbox>Blue</label>
                  </div>
                </div>
                <div class="row">
                  <div class="form-inline">
                    <label class="btn btn-sm"></label>
                    <label class="mr-sm-2 fontsize-sm" style="color:#f5f5f5;margin-left: 4px" for="inlineFormCustomSelect">Type</label>
                  <select class="custom-select mb-2 mr-sm-2 mb-sm-0 combobox"  id="inlineFormCustomSelect" (change)="filterTypeChanged($event)">
                    <option value="None">None</option>
                    <option value="EdgeDetectMono">Mono</option>
                    <option value="EdgeDetectGradient">Gradient</option>
                    <option value="Sharpen">Sharpen</option>
                    <option value="SharpenGradient">Sharpen Gradient</option>
                    
                  </select>
                </div>
                </div>
                <div class="row mt-1">
                  <div class="form-inline">
                    <label class="btn btn-sm"></label>
                    <label class="mr-sm-2 fontsize-sm" style="color:#f5f5f5;margin-left: 4px" for="inlineFormCustomSelect">Level</label>
                  <select class="custom-select mb-2 mr-sm-2 mb-sm-0 combobox"  id="inlineFormCustomSelect" (change)="levelChanged($event)">
                    <option value="First">First</option>
                    <option value="Second">Second</option>                  
                  </select>
                </div>
                </div>
                <div class="row mt-1">
                  <div class="form-inline">
                      <label class="btn btn-sm"></label>
                      <label class="mr-sm-2 fontsize-sm" style="color:#f5f5f5;margin-left: 4px" for="inlineFormCustomSelect">Threshold</label>
                    <input type="range" min="3" max="250" step="3" (change)="thresholdChanged($event)"/>
                  </div>
                </div>
              </div>
            </div>



          </div>
          <div class="row">
            <div class="col-md-9">
            </div>
            <div class="col-md-3">
              <label class="btn btn-primary btn-sm pull-right mt-2" role="button" (click)="close($event)">
                Apply
              </label>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>