
<canvas [attr.id]="surface.uuid" #renderCanvas class="clayer"
[(style.margin-left.px)]="surface.marginLeft*surface.scale"
[(style.margin-top.px)]="surface.marginTop*surface.scale"
[(attr.width)]="surface.width"
[(style.width.px)]="surface.width*surface.scale"
[(attr.height)]="surface.height"
[(style.height.px)]="surface.height*surface.scale"
[(style.transform)]="surface.transform"
[(style.mix-blend-mode)]="surface.blendMode"
[(style.opacity)]="surface.globalAlpha"
[ngClass]="surface.classes">


</canvas>
<layer-selected *ngIf="showSelected()" [surface]="surface">
</layer-selected>


