.clayer{
  
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}

.clayerSelected{
  
 border-width: 1px;
  border-style: dotted;
  border-color: deeppink;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  



}
.clayerEmpty{

}



