<canvas [attr.id]="uuid" #renderCanvas class="clayer"
[(style.margin-left.px)]="surface.marginLeft"
[(style.margin-top.px)]="surface.marginTop"
[(style.margin-right.px)]="surface.marginRight"
[(style.margin-bottom.px)]="surface.marginBottom"
[(attr.width)]="surface.width"
[(style.width.px)]="surface.stwidth"
[(attr.height)]="surface.height"
[(style.height.px)]="surface.stheight"
[ngClass]="(surface.isSelected)?'clayerSelected':''"
   >

</canvas>
<layer-selected *ngIf="surface.isSelected" [surface]="surface">
</layer-selected>

