
<canvas [attr.id]="uuid" #renderCanvas class="clayer"
[(style.margin-left.px)]="surface.marginLeft*surface.scale"
[(style.margin-top.px)]="surface.marginTop*surface.scale"
[(style.margin-right.px)]="surface.marginRight*surface.scale"
[(style.margin-bottom.px)]="surface.marginBottom*surface.scale"
[(attr.width)]="surface.width"
[(style.width.px)]="surface.width*surface.scale"
[(attr.height)]="surface.height"
[(style.height.px)]="surface.height*surface.scale"
[(style.transform)]="surface.transform"
[ngClass]="(surface.isSelected)?'clayerSelected':''">


</canvas>
<layer-selected *ngIf="surface.isSelected" [surface]="surface">
</layer-selected>


