<div  class="toolOptionsBackground">
  <tools-options-clip-component *ngIf="isSelectionTool"></tools-options-clip-component>
  <tools-options-brush-component *ngIf="isBrushTool"></tools-options-brush-component>
  <tools-options-erase-component *ngIf="isEraseTool"></tools-options-erase-component>
  <tools-options-bucketfill-component *ngIf="isBucketTool"></tools-options-bucketfill-component>  
  <tools-options-gradient-component *ngIf="isGradientTool"></tools-options-gradient-component>  
</div>

