<div class="zoomInfo" >
  <header class="zoomHeader unselectableText">
    <span >Zoom</span>
    <span *ngIf="project && project.activeWorkspace">{{currentZoom()}}</span>
    <span *ngIf="biggerThan()"  tooltip="Pixel to pixel" placement="right" ><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
    
  </header>
  <section class="zoomSection">
    

      <div *ngIf="project && project.activeWorkspace">
      
         
         <trackbar-component [value]="100" [min]=10 [max]=2000 [step]=10 (valueChanged)="valueChanged($event)" ></trackbar-component>

        
      

    </div>




  </section>
</div>
