.zoomInfo{

    
 background:-webkit-linear-gradient(top,hsl(0,0%,100%),hsl(0,0%,90%));
  background-image: -webkit-linear-gradient(top, #615c5c, #887f7f);
  border-radius: 30px;
}

.zoomHeader{

      line-height: 1rem;
    color: white;
   
    padding-left: 15px;

}


.active{
  background-color: #025aa5;
  margin-top: 0.40rem;
  height:0.2rem;
}



