<div  class="zoomInfo" mouse (mouseUp)="mouseUp()" (mouseMove)="mouseMove($event)" (mouseLeave)="mouseLeave()">
  <header class="zoomHeader">
    <span>Zoom</span>
    <span *ngIf="project != undefined && project.activeWorkspace != undefined">{{currentZoom()}}%</span>

  </header>
  <section class="zoomSection">
    <div *ngIf="project != undefined">

      <div *ngIf="project.activeWorkspace != undefined">
        <div class="row rowEx" style="padding-bottom: 10px;">
          <span class="col-1 minusB" >
            <i class="fa fa-minus-circle  mouseoverhand "   aria-hidden="true" (click)="zoomOut()"></i>  
          </span>
          <div #progressdiv class="progress   rowEx bar col-9">

             <span    class="active" [style.width.%]="position" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
          
            </span>
            <span class="zoomButton" >
            <i class="fa fa-circle fa-lg" mouse (mouseDown)="mouseDown()"  aria-hidden="true" ></i>
            </span>


          </div>
          <span>
          <i class="fa fa-plus-circle  mouseoverhand " aria-hidden="true" (click)="zoomIn()" ></i>  
          </span>

        </div>
        </div>

      </div>




  </section>
  </div>