.zoomInfo{
 margin-top: 10px;
    
 background:-webkit-linear-gradient(top,hsl(0,0%,100%),hsl(0,0%,90%));
  background-image: -webkit-linear-gradient(top, rgb(200, 200, 200), rgb(230, 230, 230));
}

.zoomHeader{

  line-height: 28px;

}
.zoomButton{
  margin-left: -4px;
  
}

.active{
  background-color: #025aa5;
  margin-top: 0.40rem;
  height:0.2rem;
}
.rowEx{
      margin-right: 0px !important;
    margin-left: 0px !important;
    padding-right: 0px;
    padding-left: 0px;
    
}
.minusB{
      padding-left: 2px;
}

