<div class="container-fluid ">
    <div class="row align-items-start">
      <div class="col align-self-center">
  
        <div *ngFor="let menu of menus" class="btn-group" dropdown [isOpen]="menu.isOpen">
          <button id="single-button" type="button" class="btn btn-primary btn-sm groupbuttonpadding " dropdownToggle [disabled]="disabled">
          {{menu.name}} <span class="caret"></span>
           </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="single-button">
            <div *ngFor="let childmenu of menu.childs">
              <ng-container *ngIf="isMenuItem(childmenu)">
                <li *ngIf="!childmenu.isDivider" role="menuitem">
                  <input *ngIf="childmenu.isOpenFile" type="file" id={{childmenu.idOfInput}} accept={{childmenu.acceptFileTypes}} style="display:none"
                    (change)="childmenu.handleFiles()">
                  <a class="dropdown-item childmenu" (click)="menu.close($event); childmenu.onClick();" href="#">{{childmenu.name}}</a>
  
                </li>
                <li *ngIf="childmenu.isDivider" class="divider dropdown-divider"></li>
              </ng-container>
              <ng-container *ngIf="!isMenuItem(childmenu)">
                <li dropdown triggers="mouseover" placement="right" container="body">
                  
                  <a dropdownToggle class="dropdown-item dropdown-toogle  childsubmenu" >{{childmenu.name}}
                     <span class="caret"></span>></a>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <div *ngFor="let childsubmenu of childmenu.childs">
                      <ng-container *ngIf="isMenuItem(childsubmenu)">
                        <li *ngIf="!childsubmenu.isDivider" role="menuitem">
                          <input *ngIf="childsubmenu.isOpenFile" type="file" id={{childsubmenu.idOfInput}} accept={{childsubmenu.acceptFileTypes}}
                            style="display:none" (change)="childsubmenu.handleFiles()">
                          <a class="dropdown-item childmenu" (click)="childmenu.close($event); childsubmenu.onClick();" href="#">{{childsubmenu.name}}</a>
  
                        </li>
                        <li *ngIf="childsubmenu.isDivider" class="divider dropdown-divider"></li>
                      </ng-container>
                    </div>
                  </ul>
                </li>
              </ng-container>
  
  
            </div>
  
          </ul>
  
  
        </div>
  
  
  
  
      </div>
    </div>
  </div>


 <!--  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav> -->