/* You can add global styles to this file, and also import other style files */




@import 'variables';

@import '../node_modules/bootstrap/scss/bootstrap';
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";
@import "../node_modules/angular2-busy/build/style/busy.css";



.glyphicon {
  @extend .fa;

&.glyphicon-remove-circle {
    @extend .fa-times;
  }


}




.body{
  background-color: white;
  line-height: 1rem;
}




.btn-primary {
    color: white;
    background-color: #535353;;
    border-color: #656565;
    font-size : medium;
}

.btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #656565;
    background-image: none;
    border-color: #535353;
}
.btn-group > .btn:first-child {
    margin-left: 4px;
    line-height: 0.6rem;
    margin-bottom:4px;
}
.btn-primary {
    color: white;
    background-color: #535353;;
    border-color: #656565;
    font-size : medium;
}

.btn-primary:disabled {
   background-color: rgb(150,150,150);
   border-color: #656565;
}

.dropdown-menu{
  background-color:#535353;
  min-width: 6rem;
  margin-top: -3px;
}

.dropdown-item {

    color: white;
    font-size:medium !important;
    line-height: 1rem;

}

.dropdown-item:focus, .dropdown-item:hover {
    color: black;
    text-decoration: none;
    background-color: #f7f7f9;
}

.modal-body{
  background-color: #707070;
  color: white;
  font-size:medium;
}

.modal-header {
  background-color:#545454;
  color:white;
  padding-top:5px;
  padding-bottom:5px;
  font-size: small;
}

.fontsmall {
    font-size: small;

}

.nav-tabs {
    border-bottom: 0px solid #ddd;
    height:3%;
}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
   color: #efefef;
    background-color: #504b4b;
    border-color: #ddd #ddd #fff;
    line-height: 0.3rem;
}

a {
    color: #252525;
    text-decoration: none;
}


.mouseoverhand{
   cursor: pointer; cursor: hand;
}



.mouseCross{
  cursor:crosshair;
}

.mouseMove{
  cursor:move;
}

.mouseDefault{
  cursor:default;
}

.mouseHand{
  cursor:pointer;
}
.mouseNWSE{
  cursor:nwse-resize;
}
